---
import FormattedDateTime from "@/components/FormattedDateTime.astro";
import Layout from "@/layouts/Layout.astro";
import { postQuery, postsQuery, urlFor } from "@/lib/sanity/queries";
import { Image } from "astro:assets";
import type { PostsQueryResult, PostQueryResult } from "sanity.types";
import { sanityClient } from "sanity:client";
import { PortableText } from "@/components/portable-text";

const { slug } = Astro.params;

export const getStaticPaths = async () => {
  const posts = (await sanityClient.fetch(postsQuery)) as PostsQueryResult;
  return posts.map((post) => ({
    params: { slug: post.slug?.current ?? "" },
  }));
};

const post: PostQueryResult = await sanityClient.fetch(postQuery, { slug });

if (!post) {
  return new Response(null, { status: 404 });
}
---

<Layout
  title={post.title}
  description={post.summary}
  image={post.image && post.image.asset && urlFor(post.image.asset).url()}
>
  <div class="block border-x border-b p-4">
    {
      post.image && post.image.asset && (
        <Image
          alt=""
          class="mx-auto w-full max-w-2xl"
          height="675"
          src={urlFor(post.image.asset).url()}
          width="1200"
        />
      )
    }
    <div class="space-y-1">
      <h1 class="text-primary text-4xl">{post.title}</h1>
      <p>{post.summary}</p>
      <FormattedDateTime date={post.publishedAt ?? ""} format="DATETIME" />
    </div>
  </div>
  <div class="prose w-full max-w-full border-x border-b p-4">
    <PortableText value={post.body || []} />
  </div>
</Layout>
