---
import { NAVBAR_ITEMS, OTHER_PAGES } from "@/lib/constants";
import Separator from "./Separator.astro";
import ChevronLeftIcon from "~icons/material-symbols/chevron-left-rounded";
import ChevronRightIcon from "~icons/material-symbols/chevron-right-rounded";
import Buttons from "./Buttons.astro";

const profiles = [
  {
    text: "Email",
    href: "mailto:me@ingo.au",
  },
  {
    text: "Signal",
    href: "https://signal.me/#eu/aON_wvkns7bfeU-UAj_09B1Yym8WVC2QIWWV8rIhYZzPc2xGLUtBeLWMc9LJoWNB",
  },
  {
    text: "GitLab",
    href: "https://gitlab.com/ingowolf",
  },
  {
    text: "GitHub",
    href: "https://github.com/ingoau",
  },
];

const webrings = [
  {
    name: "ultrafastparrot",
    url: "https://ultrafastparrot.net",
    next: "https://ultrafastparrot.net/next/ingo",
    prev: "https://ultrafastparrot.net/prev/ingo",
  },
  {
    name: "catppuccin",
    url: "https://ctp-webr.ing/",
    next: "https://ctp-webr.ing/ingo/next",
    prev: "https://ctp-webr.ing/ingo/prev",
  },
  {
    name: "page ring",
    url: "https://pagering.gideon.sh",
    onClick:
      "if (window.pagering) { window.pagering.open(); window.pagering.open(); } else { location.href = 'https://pagering.gideon.sh/'; } return false;",
    next: "https://pagering.gideon.sh/to/ingo/next",
    prev: "https://pagering.gideon.sh/to/ingo/prev",
  },
];
---

<div class="flex w-full grow flex-col border-b px-4">
  <Separator class="grow" />
  <footer class="bg-diagonal-lines mx-auto w-full max-w-5xl border-l bg-fixed">
    <div class="md:grid md:grid-cols-14">
      <div class="col-span-6 flex flex-col border-r pb-10">
        <div class="bg-background flex">
          <a
            class="btn-interactive w-full p-4 font-mono text-xl font-extrabold active:font-normal"
            href="/"
          >
            Ingo Wolf
          </a>
        </div>
        <div class="w-full border-y">
          <div class="bg-background flex w-fit flex-row">
            {
              profiles.map((link) => (
                <a class="btn-interactive border-r px-4 py-2" href={link.href}>
                  {link.text}
                </a>
              ))
            }
          </div>
        </div>
      </div>
      <div class="col-span-4 hidden md:block"></div>
      <div class="col-span-4 flex flex-col border-t md:border-t-0 md:border-l">
        <div class="bg-background border-r border-b p-2 font-mono">Pages</div>
        <div class="bg-card grid w-full grid-cols-2">
          {
            [...NAVBAR_ITEMS, ...OTHER_PAGES].map((link) => (
              <div class="bg-background flex flex-col border-r border-b">
                <a class="btn-interactive p-2 text-sm" href={link.url}>
                  {link.label}
                </a>
              </div>
            ))
          }
          {
            [...NAVBAR_ITEMS, ...OTHER_PAGES].length % 2 !== 0 && (
              <div class="bg-striped-gradient border-r border-b" />
            )
          }
        </div>
        <div class="min-h-10 grow border-r"></div>
      </div>
    </div>
    <div
      class="bg-diagonal-lines flex flex-col-reverse border-t border-b bg-fixed md:flex-row md:items-end"
    >
      <div
        class="bg-background h-fit border-t border-r px-4 py-2 text-center font-mono"
      >
        This website is
        <a
          href="https://github.com/ingoau/website"
          rel="noopener noreferrer"
          target="_blank"
        >
          open source
        </a>
      </div>
      <div class="grow"></div>
      <div class="bg-background flex flex-col">
        <div class="border-r p-2 font-mono md:border-l">Webrings</div>
        {
          webrings.map((webring) => (
            <div class="flex w-full flex-row">
              <a
                class="btn-interactive aspect-square border-t border-r p-3 md:border-l"
                href={webring.prev}
              >
                <span class="sr-only">Previous</span>
                <ChevronLeftIcon class="size-4" />
              </a>
              <a
                class="btn-interactive flex grow cursor-pointer items-center justify-center border-t px-6 font-mono text-sm"
                href={webring.url}
                onclick={webring.onClick}
              >
                {webring.name}
              </a>
              <a
                class="btn-interactive aspect-square border-x border-t p-3"
                href={webring.next}
              >
                <span class="sr-only">Previous</span>
                <ChevronRightIcon class="size-4" />
              </a>
            </div>
          ))
        }
      </div>
    </div>
    <div class="w-full border-r">
      <div class="mx-auto w-fit">
        <Buttons />
      </div>
    </div>
  </footer>
</div>
<div class="w-full px-4">
  <div class="mx-auto h-4 w-full max-w-5xl border-x"></div>
</div>
