---
import { NAVBAR_ITEMS, OTHER_PAGES } from "@/lib/constants";
import Separator from "./Separator.astro";

const profiles = [
  {
    text: "Email",
    href: "mailto:me@ingo.au",
  },
  {
    text: "Signal",
    href: "",
  },
  {
    text: "GitHub",
    href: "https://github.com/ingoau",
  },
];

const webrings = [
  {
    name: "ultrafastparrot",
    url: "https://ultrafastparrot.net",
    next: "https://ultrafastparrot.net/next/ingo",
    prev: "https://ultrafastparrot.net/prev/ingo",
  },
  {
    name: "catppuccin",
    url: "https://ctp-webr.ing/",
    next: "https://ctp-webr.ing/ingo/next",
    prev: "https://ctp-webr.ing/ingo/prev",
  },
  {
    name: "page ring",
    onClick:
      "if (window.pagering) { window.pagering.open(); } else { location.href = 'https://pagering.gideon.sh/'; }",
    next: "https://pagering.gideon.sh/to/ingo/next",
    prev: "https://pagering.gideon.sh/to/ingo/prev",
  },
];
---

<Separator />
<footer class="max-w-5xl mx-auto w-full border-l bg-diagonal-lines bg-fixed">
  <div class="grid grid-cols-7">
    <div class="flex flex-col border-r col-span-2 pb-10">
      <div class="flex bg-background">
        <a
          href="/"
          class="p-4 btn-interactive text-xl active:font-normal font-extrabold font-mono w-full"
        >
          Ingo Wolf
        </a>
      </div>
      <div class="border-y w-full">
        <div class="flex flex-row bg-background w-fit">
          {
            profiles.map((link) => (
              <a href="/" class="px-4 py-2 btn-interactive border-r">
                {link.text}
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <div class="col-span-2"></div>
    <div class="col-span-3 border-l flex flex-col">
      <div class="p-2 border-b font-mono border-r bg-background">Pages</div>
      <div class="bg-card w-full grid grid-cols-2">
        {
          [...NAVBAR_ITEMS, ...OTHER_PAGES].map((link) => (
            <div class="border-b border-r flex flex-col bg-background">
              <a href={link.url} class="p-2 btn-interactive text-sm">
                {link.label}
              </a>
            </div>
          ))
        }
        {
          [...NAVBAR_ITEMS, ...OTHER_PAGES].length % 2 !== 0 && (
            <div class="border-r border-b bg-striped-gradient" />
          )
        }
      </div>
      <div class="grow min-h-10 border-r"></div>
    </div>
  </div>
  <div class="flex flex-row bg-diagonal-lines bg-fixed border-t items-end">
    <div class="border-t border-r py-2 px-4 font-mono bg-background h-fit">
      This website is
      <a href="https://github.com/ingoau/website" target="_blank">
        open source
      </a>
    </div>
    <div class="grow"></div>
    <div class="flex flex-col">
      <div class="p-2 font-mono border-x">Webrings</div>
      {
        webrings.map((webring) => (
          <div>
            <a href={webring.prev}>Previous</a>
            <a href={webring.url} onclick={webring.onClick}>
              {webring.name}
            </a>
            <a href={webring.next}>Next</a>
          </div>
        ))
      }
    </div>
  </div>
</footer>
<div class="border-t w-full"></div>
<div class="max-w-5xl mx-auto w-full border-x h-4"></div>
